<div class="content-team">

        <ul>
          <% @teams.each do |person| %>
              <li>
                <%= image_tag person.photo.url(:thumb).to_s %>
                <div class="info">
                  <h1><%= person.name %></h1>
                  <%= raw(person.info) %>
                </div>
              </li>
          <% end %>
        </ul>

        <!--<span class="join">Присоединиться</span>-->

  <%= link_to "Присоединиться", contacts_path, :class => "join" %>


    <%= render 'disqus/thread' %>
</div>

