<div class="content-events">
  <ul>
    <% @events.each do |event| %>
        <li>
          <%= image_tag event.image.url(:thumb).to_s %>
          <div class="info">
            <h1><%= event.name %></h1>
            <%= truncate(event.description, length: 500, escape: false) %>
            <%= link_to 'Смотреть дальше', event, :class => "more" %>
          </div>
        </li>
    <% end %>

    <!--<p><%= link_to 'Прошедшие мероприятия', events_archive_path, :class => "join" %></p>-->
  </ul>
</div>