<h1>Зворотній зв’язок</h1>

<p>Будь-ласка, залишіть ваш відгук! Для нас це реально важливо!</p>

<%= form_for @feedback, :as => :feedback, :url => feedback_path, :html => {:id => "feedback_form"} do |f| %>
  
  <% unless @error_message.blank? %>
    <p class="error">
      <%=h @error_message %>
    </p>
  <% end %>

  <p>
    <%= f.label 'subject' %>
    <%= f.select 'subject', ['Problem', 'Suggestion', 'Question', 'Other'] %>
  </p>
  <p>
    <%= f.label 'email' %>
    <%= f.text_field 'email' %>
  </p>
  <p>
    <%= f.label 'comment' %><br />
    <%= f.text_area 'comment', :rows => 10, :cols => 30 %>
  </p>
  <p><%= f.submit 'Send' %></p>
<% end %>
