<h3>Обратная связь</h3>

<p>Спасибо за отзыв! Для нас это реально важно!</p>

<%= form_for @feedback, :as => :feedback, :url => feedback_path, :html => {:id => "feedback_form"} do |f| %>
  
  <% unless @error_message.blank? %>
    <p class="Ошибка!">
      <%=h @error_message %>
    </p>
  <% end %>

  <p>
    <%= f.label 'Тема' %>
    <%= f.select 'subject', ['Проблема', 'Предложение', 'Вопрос', 'Другое'] %>
  </p>
  <p>
    <%= f.label 'email' %>
    <%= f.text_field 'email' %>
  </p>
  <p>
    <%= f.label 'Сообщение' %><br />
    <%= f.text_area 'comment', :rows => 10, :cols => 30 %>
  </p>
  <p><%= f.submit 'Отправить' %></p>
<% end %>
