<!DOCTYPE html>
<html>
<head>
  <title>Help for people | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Gallery", posts_path %></li>
    <li><%= link_to "Team", teams_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Contacts", contacts_path %></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>